$body-font-family: 'Open Sans', Arial, sans-serif;
$body-background-color: #fff;
$body-color: #888;

$heading-font-family: 'Open Sans', Arial, sans-serif;
$heading-color: #444;

$primary-color: #9ed034;
$secondary-color: #e54747;

$dark-color: #444;
$light-color: #aaaaaa;

$white-color: #fff;
$black-color: #000;

$border-color: #eee;


//Responsive
$break-small: 768px;

$tablet: 768px;

$break-large: 992px;